.blck1{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    height: 48vh;
}

.charts1{
    width: 100%;
    height: calc(100% - 45px);
}

.no-data-available{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 40px);
    font-size: 16px;
    color: #666;
}